html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #98cbdf;
}
#background {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center; 

    align-content: center;
    animation: onload 2s 0s;
    animation-fill-mode: forwards;
}


#itemBox {
    background: white;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    overflow: auto;
    width: 95%;
    height: 500px;

    border-radius: 20px;

    
}

#item {
    width: 70px;
    height: 100px;
    box-shadow: 0px 5px 10px gray;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
#itemPhoto {
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
#itemTitle {
    font-size: large;
    color: gray;
    margin-top: 140%;
}
#item:hover {
    box-shadow: 0px 5px 15px rgb(65, 65, 65);
}
#item:active {
    box-shadow: 0px 5px 15px rgb(65, 65, 65) inset;
}
