html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#background {
    width: 100%;
    height: 100%;
}

#Title {
    padding: 10px;
    font-weight: bold;
    font-size: x-large;
}
#information {

    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid rgb(221, 221, 221);
}
#Date {
    margin-left: 10px;
    font-size: small;
    color: gray;
}
#Classify {
    font-size: small;
    color: gray;
    margin-bottom: 5px;
}

#Content {
    padding: 10px;
}