html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
#background {
    width: 100%;
    height: 100%;
}



#content {
    width: auto;
    height: 100%;
    background: white; 
    text-align: center;
    padding-top: 50px;
    opacity: 0%;

    animation: animation_ 2s 0s;
    animation-fill-mode: forwards;
}
@keyframes animation_ {
    100% {
        opacity: 100%;
    }
}
#ContentUseName {
    margin-top: 50px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Name {
    font-size: xx-large;
    color: orange;
    font-weight: bold;
    margin: 10px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#EmailName {
    margin: 10px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Email {
    font-weight: bold;
}
#ContentTitle {
    margin-top: 50px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#txt {
    margin-top: 20px;
    font-size: small;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
