html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#background {
    width: 100%;
    height: 100%;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#content {
    width: 100%;
    height: 100%;
}
#Box {
    width: 100%;  
    border-radius: 10px;
    
}
#Box:active {
    background: rgb(247, 247, 247);
}
#title {
    font-size: x-large;
    margin: 10px;
 } 
#information {
    width: 100%;
    height: 40px;
    
    display: grid;
    grid-template-columns: 30% 70%;
}
#date {
    margin-left: 5px;
    font-size: small;
    color: gray;
}
#classify {
    font-size: small;
    color: gray;
}
#line {
    margin-left: 2%;
    width: 96%;
    border-bottom: 1px solid gray;
    margin-top: -10px;
}

#menu {
    width:  60px;
    height: 60px;
    background: url(/resource_fille/Svg/classify.svg);
    background-size: cover;
    
    position: fixed;
    right: 20px;
    bottom: 30px;

    border-radius: 20px;
    box-shadow: 0px 3px 3px gray;
}
#menu:active {
    box-shadow: 0px 5px 3px rgb(218, 218, 218) inset;
}

#menu_box {
    width:  auto;
    height: 150px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px gray;
    
    display: none;
    
    padding: 10px;
}
#search_Page {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 25px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px gray;

    text-align: center;
}
#search_Page:active {
    box-shadow: 0px 1px 3px gray inset;
}
#classify_Page {
    margin-bottom: 10px;
    width: 80px;
    height: 25px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px gray;

    text-align: center;
}
#classify_Page:active {
    box-shadow: 0px 1px 3px gray inset;
}
#about_Page {
    width: 80px;
    height: 25px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px gray;

    text-align: center;
}
#about_Page:active {
    box-shadow: 0px 1px 3px gray inset;
}

#search_Box {
    width:  250px;
    height: 400px;
    top: 15%;
    left: 20%;
    background: white;
    padding: 10px;
    position: fixed;
    border-radius: 20px;
    box-shadow: 0px 3px 3px gray;

    display: none;
}
#search_Title {
    font-size: larger;
    text-align: center;
    outline: none;
    width: 245px;
    height: 50px;
    border: none;

    border-radius: 20px;
}

#search_Content {
    width: 245px;
    height: 300px;
    background: rgb(250, 250, 250);
    
    margin-top: 10px;
    border-radius: 20px;
    
    overflow: auto;
   
}
#Close {
    width: 245px;
    height: 25px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    color: gray;
    font-size: larger;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}