html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #98cbdf;

    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
}
#background {
    width: 500px;
    height: 650px;
    box-shadow: 0px 1px 10px 1px gray;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    display: grid;

    animation: onloading 1s 0s;
    animation-fill-mode: forwards;
    opacity: 0%;

    border-radius: 40px;
}
@keyframes onloading {
    100% {
        opacity:  100%;
    }
}

#Title {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#UseName {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#WebName {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Int_Seed {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#String_Seed {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#PasswordLenth {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Num_01 {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Num_02 {
    width: 0px;
    height: 30px;
    margin-bottom: 50px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#CreatPassword {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px gray;

    padding: 5px;
    font-size: larger;
    color: gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Password {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px gray;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;
    
    padding: 5px;
    font-size: larger;
    color: gray;
    text-align: center;
}

@keyframes onItemloading {
    100% {
        width: 150px;
    }
}

#UseName:hover {
    box-shadow: 0px 1px 10px black;
}
#WebName:hover {
    box-shadow: 0px 1px 10px black;
}
#Int_Seed:hover {
    box-shadow: 0px 1px 10px black;
}
#String_Seed:hover {
    box-shadow: 0px 1px 10px black;
}
#PasswordLenth:hover {
    box-shadow: 0px 1px 10px black;
}
#Num_01:hover {
    box-shadow: 0px 1px 10px black;
}
#Num_02:hover {
    box-shadow: 0px 1px 10px black;
}
#CreatPassword:hover {
    box-shadow: 0px 1px 10px black;
}
#CreatPassword:active {
    box-shadow: 0px 1px 10px black inset;
}

#WebApp {
    width: 0px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 1px 10px gray;

    padding: 5px;
    font-size: larger;
    color: gray;
    text-align: center;

    animation: onItemloading 1s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#WebApp:hover {
    box-shadow: 0px 1px 10px black;
}
#WebApp:active {
    box-shadow: 0px 1px 10px black inset;
}