html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#background {
    background: #98cbdf;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

#Box {
    width: 250px;
    height: 350px;
    background: white;

    display: grid;  
    align-items: center; 
    justify-content: center;

    border-radius: 20px;
    box-shadow: 0px 5px 3px black;
}

#Blogs {
    width: 100px;
    height: 100px; 
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 0px 5px 3px gray; 
    padding: 10px;
    
    display: grid;
    justify-content: center;
    align-items: center; 
}
#BlogsPhoto {
    width: 80px;
    height: 80px;
    background: url(/resource_fille/Svg/Blogs.svg);
    background-size: cover;
}
#BlogsTitle {
    text-align: center;
    color: gray;
}
#Blogs:active {
    box-shadow: 0px 5px 10px gray inset;
}

#WebApp {
    width: 100px;
    height: 100px;
    margin-bottom: 30px; 
    border-radius: 20px;
    box-shadow: 0px 5px 5px gray;
    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center; 
}
#WebAppPhoto {
    width: 80px;
    height: 80px;
    background: url(/resource_fille/Svg/Blogs.svg);
    background-size: cover;
}
#WebAppTitle {
    text-align: center;
    color: gray;
}
#WebApp:active {
    box-shadow: 0px 5px 10px gray inset;
}

#information {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/HeadPhoto/photo.jpg);
    background-size: cover;
    margin-right: 10px;
}
#Name {
    text-align: center;
    font-size: smaller;
    color: rgba(170, 170, 170, 50);
}
