html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#background {
    background: #98cbdf;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#content {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    animation: animation_a 2s 0s;
    animation-fill-mode:forwards;
    box-shadow: 0px 5px 6px rgb(65, 65, 65);
    
}
#photo {
    width: 0px;
    height: 100px;
    border-radius: 50%;
    background: white;
    position: absolute;
    box-shadow: 0px 5px 10px gray;
    animation: animation_b 1s 1s;
    animation-fill-mode:forwards;
    background: url(/resource_fille/HeadPhoto/photo.jpg);
    background-size: cover;
    border-radius: 50%;
}
#txt {
    color: orange;
    position: absolute;
    font-size: xx-large;
    transform: translate(0px,30px);
    animation: animation_txt 2s 1s;
    animation-fill-mode:forwards;
    opacity: 0%;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#blogs {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 230, 230);
    color: gray;
    position: absolute;
    transform: translate(-150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px gray;
    animation: animation_button 2s 1.5s;
    animation-fill-mode:forwards;
    opacity: 0%;
}
#WebApp {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 230, 230);
    color: gray;
    position: absolute;
    transform: translate(150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px gray;
    animation: animation_button 2s 1.5s;
    animation-fill-mode:forwards;
    opacity: 0%;
}
#blogs:hover {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 227, 227);
    color: gray;
    position: absolute;
    transform: translate(-150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(65, 65, 65);
 

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#WebApp:hover {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 227, 227);
    color: gray;
    position: absolute;
    transform: translate(150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgb(65, 65, 65);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#blogs:active {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 227, 227);
    color: gray;
    position: absolute;
    transform: translate(-150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px black inset;
     
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#WebApp:active {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 227, 227);
    color: gray;
    position: absolute;
    transform: translate(150px,100px);
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0px 5px 10px black inset; 


    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

@keyframes animation_a {    

    25% {
        height: 10px;
        width: 200px;
        border-radius: 10%;

    }
    100% {
        width: 650px;
        height: 250px;
        border-radius: 20px;
        transform: translate(0px,70px);
    }
}
@keyframes animation_b {

    100% {
        width: 150px;
        height: 150px;
        transform: translate(0px,-80px);
    }
}
@keyframes animation_txt {

    100% {
        opacity: 100%;
    }
}
@keyframes animation_button {

    100% {
        opacity: 100%;
    }
}


#in_blogs_WebApp_action {
    animation: animation_in_button 2s 0s;
    animation-fill-mode:forwards;
}
@keyframes animation_in_button {
    100% {
        opacity: 0;
    }
}

@keyframes animationOffPage {
    100% {
        opacity: 0%;
    }
}
