html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #98cbdf;

    animation: onload 1s 0s;
    animation-fill-mode: forwards;
}
#background {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 0%;
    align-content: center;
    animation: onload 2s 0s;
    animation-fill-mode: forwards;
}
@keyframes onload {
    100% {
        opacity: 100%;
    }
}

#itemBox {
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    overflow: auto;


    border-radius: 20px;

    animation: itemBox_onload 2s 0s;
    animation-fill-mode: forwards;
}
@keyframes itemBox_onload {
    100% {
        width: 1000px;
        height: 500px;
        opacity: 100%;
    }
}

#item {
    width: 100px;
    height: 100px;
    box-shadow: 0px 5px 10px gray;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center; 
}
#itemPhoto {
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}
#itemTitle {
    font-size: large;
    color: gray;
    margin-top: 140%;
}
#item:hover {
    box-shadow: 0px 5px 15px rgb(65, 65, 65);
}
#item:active {
    box-shadow: 0px 5px 15px rgb(65, 65, 65) inset;
}


#search_Box {
    width: 0px;
    height: 0px;
    background:  rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 2%;
    top: 10%;
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
    opacity: 0%;


    display: none;
    animation: search_BoxLoading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Title {
    font-size: larger;
    text-align: center;
    outline: none;
    width: 0px;
    height: 0px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    background: rgb(240, 240, 240);

    animation: search_Title_Loading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Title:hover {
    box-shadow: 0px 1px 5px gray;
}
#search_Content {
    width: 0px;
    height: 0px;
    background: rgb(240, 240, 240);
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;

    animation: search_Content_Loading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Content:hover {
    box-shadow: 0px 1px 5px gray;
}
#searchItem:hover {
    box-shadow: 0px 1px 5px gray;
}
#searchItem:active {
    box-shadow: 0px 1px 5px gray inset;
}
@keyframes search_BoxLoading {
    100% {
        opacity: 100%;
        left: 20%;
        top: 20%;
        width: 760px;
        height: 450px;
    }
}
@keyframes search_Title_Loading {
    100% {
        width: 710px;
        height: 35px;
    }
}
@keyframes search_Content_Loading {
    100% {
        width: 700px;
        height: 290px;
    }
}

#Close {
    width: 0px;
    height: 0px;
    background: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: larger;
    animation: search_Close_Loading 2s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Close:hover {
    box-shadow: 0px 1px 5px gray;
}
#Close:active {
    box-shadow: 0px 1px 5px gray inset;
}
@keyframes search_Close_Loading {
    100% {
        width: 700px;
        height: 30px;
    }
}

#itemBox::-webkit-scrollbar {
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#itemBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #9b9b9b;
}
#itemBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #EDEDED;
}