html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
#background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 65% 20%;  
}
#menu {
    width: auto;
    height: 100%;
    background: rgb(250, 250, 250);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#photo {
    width: 100px;
    height: 100px;
    background: url(/resource_fille/HeadPhoto/photo.jpg);
    background-size: cover;
    border-radius: 50%;
    align-content: center;
    margin:0 auto;
    margin-top: 20px;
    box-shadow: 0px 1px 1px gray;
}

#photo:active {
    box-shadow: 0px 1px 5px gray inset;
}

#UseName {
    align-content: center;
    margin:0 auto;
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
#UseInformation {
    align-content: center;
    text-align: center;
    margin:0 auto;
    margin-top: 5px;
    font-size: small;
}
#search {
    width: auto;
    height: 20px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 80% 20%;
}
#searchcontent {
    align-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: small;
    color: gray;
    margin-left: 50%;
}
#searchphoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/search.svg);
    background-size: cover;
    align-content: center;
    margin:0 auto;
}

#homeMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    
}
#homePhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/home.svg);
    background-size: cover;
    margin-left: 20px;
}
#home {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#homeMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#classifyMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#classifyPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/classify.svg);
    background-size: cover;
    margin-left: 20px;
}
#classify {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#classifyMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#aboutMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    background: rgb(245, 245, 245);
}
#aboutPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/about.svg);
    background-size: cover;
    margin-left: 20px;
}
#about {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#aboutMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}
#WebAppMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#WebAppPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/WebApp.svg);
    background-size: cover;
    margin-left: 20px;
}
#WebApp {
    width: 80px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
    
}
#WebAppMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px; 
}


#LowHomeMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#LowHomePhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/LowHome.svg);
    background-size: cover;
    margin-left: 20px;
}
#LowHome {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#LowHomeMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#LowContent {
    width: 15%;
    height: 80px;
    display: grid;
    position:fixed; 
    bottom: 0;
}

#contentAbout {
    width: auto;
    text-align: center;
    font-size: smaller;
    color: gray;
}
#ThemeCreator {
    width: auto;
    text-align: center;
    font-size: x-small;
    color: gray;
}

#announcement {
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}
#announcementTitle {
    font-size: large;
    padding-left: 20px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#announcementContent {
    font-size: small;
    padding: 20px;
    background: rgb(245, 245, 245 , 100);
    border-radius: 30px;;
}

#other {
    width: auto;
    height: 100%;
    background: rgb(250, 250, 250);
}

@keyframes in_photoanimation { 
    0% {
        width:  100px;
        height: 100px;
    }
    100% {
        width: 150px;
        height: 150px;
    }
}
@keyframes out_photoanimation { 
    0% {
        width:  150px;
        height: 150px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

#classifyBox {
    width: auto;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#classifyBoxs {
    width: auto;
    height: 250px;   
    margin-top: 10px;
    overflow: auto;
}
#classifyTitle {
    font-size: large;
    padding-left: 20px;
}
#classifyContene {
    font-size: small;
    padding: 10px;
    background: rgb(245, 245, 245 , 100);
    border-radius: 30px;;
}

#other {
    width: auto;
    height: 100%;
    background: rgb(250, 250, 250);
    
}

#itemContent:hover {
    box-shadow: 0px 1px 5px gray; 
}

#itemClassify:hover {
    box-shadow: 0px 1px 5px gray;  
}
#itemClassify:active {
    box-shadow: 0px 1px 5px gray inset;  
}


/* */
#content {
    width: auto;
    height: 100%;
    background: white; 
    padding: 50px;
}
#contentTitle {
    width: auto;
    height: auto;
    font-size: xx-large;
    color: black;
    font-weight: bold;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#contentDataBox {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid rgb(182, 182, 182);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#contentDate {
    width: auto;
    height: auto;
    font-size: small;
    color: gray;
    margin-top: 10px;    
}
#classifyData {
    width: auto;
    height: auto;
    font-size: small;
    color: gray;
    margin-top: 10px;   
}
#Page {
    margin-top: 20px;
}
/* */