html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
#background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 65% 20%;  
}
#menu {
    width: auto;
    height: 100%;
    background: rgb(250, 250, 250);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#photo {
    width: 100px;
    height: 100px;
    background: url(/resource_fille/HeadPhoto/photo.jpg);
    background-size: cover;
    border-radius: 50%;
    align-content: center;
    margin:0 auto;
    margin-top: 20px;
    box-shadow: 0px 1px 1px gray;
}

#photo:active {
    box-shadow: 0px 1px 5px gray inset;
}

#UseName {
    align-content: center;
    margin:0 auto;
    margin-top: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
#UseInformation {
    align-content: center;
    text-align: center;
    margin:0 auto;
    margin-top: 5px;
    font-size: small;
}
#search {
    width: auto;
    height: 20px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: 80% 20%;
}
#searchcontent {
    align-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: small;
    color: gray;
    margin-left: 50%;
}
#searchphoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/search.svg);
    background-size: cover;
    align-content: center;
    margin:0 auto;
}

#homeMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    
}
#homePhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/home.svg);
    background-size: cover;
    margin-left: 20px;
}
#home {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#homeMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#classifyMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#classifyPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/classify.svg);
    background-size: cover;
    margin-left: 20px;
}
#classify {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#classifyMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#search:hover {
    box-shadow: 0px 1px 1px gray;
}
#search:active {
    box-shadow: 0px 1px 1px gray inset;
}
#search_Box {
    width: 0px;
    height: 0px;
    background:  rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 2%;
    top: 10%;
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
    opacity: 0%;


    display: none;
    animation: search_BoxLoading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Title {
    font-size: larger;
    text-align: center;
    outline: none;
    width: 0px;
    height: 0px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    background: rgb(240, 240, 240);

    animation: search_Title_Loading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Title:hover {
    box-shadow: 0px 1px 5px gray;
}
#search_Content {
    width: 0px;
    height: 0px;
    background: rgb(240, 240, 240);
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    overflow: auto;

    animation: search_Content_Loading 2s 0s;
    animation-fill-mode: forwards;
}
#search_Content:hover {
    box-shadow: 0px 1px 5px gray;
}
#searchItem:hover {
    box-shadow: 0px 1px 5px gray;
}
#searchItem:active {
    box-shadow: 0px 1px 5px gray inset;
}
@keyframes search_BoxLoading {
    100% {
        opacity: 100%;
        left: 20%;
        top: 20%;
        width: 760px;
        height: 460px;
    }
}
@keyframes search_Title_Loading {
    100% {
        width: 710px;
        height: 35px;
    }
}
@keyframes search_Content_Loading {
    100% {
        width: 700px;
        height: 310px;
    }
}

#Close {
    width: 0px;
    height: 0px;
    background: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: larger;
    animation: search_Close_Loading 2s 0s;
    animation-fill-mode: forwards;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Close:hover {
    box-shadow: 0px 1px 5px gray;
}
#Close:active {
    box-shadow: 0px 1px 5px gray inset;
}
@keyframes search_Close_Loading {
    100% {
        width: 700px;
        height: 30px;
    }
}


#aboutMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    background: rgb(245, 245, 245);
}
#aboutPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/about.svg);
    background-size: cover;
    margin-left: 20px;
}
#about {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#aboutMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}
#WebAppMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#WebAppPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/WebApp.svg);
    background-size: cover;
    margin-left: 20px;
}
#WebApp {
    width: 80px;
    height: 50px;
    text-align: center;
    margin-top: -2px;
    
}
#WebAppMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px; 
}
#ReadMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#ReadPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/Read.svg);
    background-size: cover;
    margin-left: 20px;
}
#Read {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#ReadMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}
#WriteBlogsMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#WriteBlogsPhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/Write.svg);
    background-size: cover;
    margin-left: 20px;
}
#WriteBlogs {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#WriteBlogsMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#LowHomeMain {
    width: auto;
    height: 25px;
    padding-top: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#LowHomePhoto {
    width: 20px;
    height: 20px;
    background: url(/resource_fille/Svg/LowHome.svg);
    background-size: cover;
    margin-left: 20px;
}
#LowHome {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 10px;
    margin-top: -2px;
}
#LowHomeMain:hover {
    background: rgb(245, 245, 245);
    box-shadow: 0px 5px 10px 5px rgb(204, 204, 204);
    border-radius: 50px;
}

#LowContent {
    width: 15%;
    height: 80px;
    display: grid;
    position:fixed; 
    bottom: 0;
}

#contentAbout {
    width: auto;
    text-align: center;
    font-size: smaller;
    color: gray;
}
#ThemeCreator {
    width: auto;
    text-align: center;
    font-size: x-small;
    color: gray;
}





#content {
    width: auto;
    height: 100%;
    background: white; 
    text-align: center;
    padding-top: 50px;
    opacity: 0%;

    animation: animation_ 2s 0s;
    animation-fill-mode: forwards;
}
@keyframes animation_ {
    100% {
        opacity: 100%;
    }
}
#ContentUseName {
    margin-top: 50px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Name {
    font-size: xx-large;
    color: orange;
    font-weight: bold;
    margin: 10px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#EmailName {
    margin: 10px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#Email {
    font-weight: bold;
}
#ContentTitle {
    margin-top: 50px;
    font-size: large;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#txt {
    margin-top: 20px;
    font-size: small;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


#announcement {
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}
#announcementTitle {
    font-size: large;
    padding-left: 20px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#announcementContent {
    font-size: small;
    padding: 20px;
    background: rgb(245, 245, 245 , 100);
    border-radius: 30px;;
}

#other {
    width: auto;
    height: 100%;
    background: rgb(250, 250, 250);
}

@keyframes in_photoanimation { 
    0% {
        width:  100px;
        height: 100px;
    }
    100% {
        width: 150px;
        height: 150px;
    }
}
@keyframes out_photoanimation { 
    0% {
        width:  150px;
        height: 150px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}
